*{
    padding:0;
    margin:0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color:#9395A9;
}

html,body{

    margin: 0px;
    padding: 0px;
    width: 100%;

    overflow-x: hidden; 
}
.landing{
    min-height:100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, rgba(27, 26, 60, 0.9) 0%, rgba(27, 26, 60, 0.7) 103.95%), url(images/arnold-francisca-nPhl2x4fk2s-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.logo span{
    font-family: 'Sacramento', cursive;
    font-size:2.5rem;
}
nav{
    display: flex;
    padding: 2vmin;
    align-items: center;
    padding-top:2%;
    justify-content: space-around;
    min-height: 20%;
    color: ghostwhite;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    float: right;
    list-style: none;
}

.nav-links li {
     font-weight: 400;
     cursor: pointer;
}

.landing-text-content{
    position: absolute;
    width:60%;
    top:30%;
    left:50%;
    
}

.landing-text-content #designation{
    font-size: 2rem;
    margin-bottom:70px;
    font-weight: 400;
}

.landing-text-content #intro,#name{
    font-size: 6rem;
    letter-spacing: 10px;
}



.line-under-name{
    width:280px;
    height:5px;
    background-color: #F33F6A;
}

.social{
    padding-top:10%;
    min-height: 20%;
    display: flex;
    width:60%;
    justify-content:space-between;
}

.social div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.social div span{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
}

.social div i{
    font-size: 4.2rem;
}

.my-wall {
    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(27, 26, 60, 0.86) 0%, rgba(27, 26, 60, 0.86) 103.95%), url(images/bench-accounting-nvzvOPQW0gc-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.heading{

    width:100%;
    height: 200px;
    position: relative;
}

.heading h2 {
    position:absolute;
    font-weight:700;
    font-size: 3rem;
    bottom: 0;
    left:10%;
}

.my-wall-content {
    width:100%;
    height:80vh;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.experience{
    position: relative;
    width:50%;
    height:70%;
}
.experience-timeline {
    position:absolute;
    top:15%;
    left:10%;
}
.skills{
    position: relative;
    width:auto;
    top:10%;
    height:70%;
}

.better-developer{
    font-size: 0.8rem;
    left:10%;
    position: absolute;
    bottom:2%;
}
.better-developer h2 {

    font-weight: 700;
}

.about-me {
    min-height:100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(90deg, rgba(27, 26, 60, 9) 0%, rgba(27, 26, 60, 9) 103.95%), url(images/bench-accounting-nvzvOPQW0gc-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.about-me-desc {
    width:40%;
    top:7%;
    position: absolute;
    left:30%;
}

.about-me-desc h1 {
    font-size:5rem;
}

.about-me-desc p {
    padding-top: 5%;
    font-weight: 400;
    font-size:1.4rem;
    line-height: 2;
    word-wrap: break-word;
}


/* Responsive Navbar*/
@media (max-width:900px){
    body {
    overflow-x: hidden;
    }


    .hamburger {
    padding: 10px;
    min-height:30px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger div {
    width:31px;
    height:3px;
    background-color: #9395A9;
}

.line2 {
    margin-left:50%;
}


.line3 {
    margin-left:100%;
}

.toggle .line1{
    transform: rotate(-45deg) translate(10px,6px);
    transition: transform 0.5s ease-in ;
}

.toggle .line2{
    opacity:0;
   }

.toggle .line3{
    transform: rotate(45deg) translate(-30px,-3px) ; 
    transition: transform 0.5s ease-in ;
}

.nav-links {
        position: absolute;
        right:0;
        top:60px;
        height:92vh;
        background-color: rgb(27, 26, 60);
        display: flex;
        font-size: 1.6rem;
        flex-direction: column;
        justify-content: space-around;
        z-index:2;
        width:100%;
        align-items: center;
        display: none;
/*        transform: translateX(100%);
        -webkit-transition:transform 0.5s ease-in;
        -moz-transition:transform 0.5s ease-in;
        -o-transition:transform 0.5s ease-in;
        transition:transform 0.5s ease-in;*/
        
}

.showNav{
    display: flex;
/*    transform: translateX(0%);
    -webkit-transition:transform 0.5s ease-in;
    -moz-transition:transform 0.5s ease-in;
    -o-transition:transform 0.5s ease-in;
    transition:transform 0.5s ease-in;*/
}


}



/*Smartphones*/

@media only screen and (min-width: 320px) and (max-width: 479px){





/*Landing page*/



.landing-text-content{
    position: absolute;
    width:100%;
    top:30%;
    left:10%;
    
}


.landing-text-content #designation{
    font-size: 1.5rem;
    margin-bottom:70px;
    font-weight: 400;
}

.landing-text-content #intro,#name{
    font-size: 3rem;
    letter-spacing: 10px;
}



.line-under-name{
    width:80%;
    height:5px;
    background-color: #F33F6A;
}

.social{
    padding-top:10%;
    min-height: 20%;
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content:space-around;
}

.social div {
    padding: 30px;
    display: block;
    justify-content: center;
}

.social div span{
    font-size: 1.2rem;
}

.social div i{
    font-size: 2.2rem;
}

/*About Me*/

.about-me-desc {
    width:80%;
    left:10%;
}

.about-me-desc h1 {
    font-size:3rem;
}

.about-me-desc p {
    font-size:1rem;
}

/* My Wall*/

.heading{

    width:100%;
    height: 70px;
    position: relative;
}

.heading h2 {
    position:absolute;
    font-weight:700;
    font-size: 1.5rem;
    top:5%;
    left:10%;
}

.my-wall-content {
    width:100%;
    height:80vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}

.experience{
    position: relative;
    width:100%;
}

.experience svg {
    width:100%;
    height:100%;
}
.experience-timeline {
    position:absolute;
}
.skills{
    position: relative;
    width:auto;
    top:10%;
}

.skills svg {
    
    width:100%;
    height:100%;
}
.better-developer{
    display: none;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px){ 


}

@media only screen and (min-width: 768px) and (max-width: 991px){ ... }

@media only screen and (min-width: 992px){ ... }