*{
 
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color:#F1F1F1;
}

body{
       background: rgb(27,26,60);
    background: radial-gradient(circle, rgba(27,26,60,1) 0%, rgba(10,13,25,1) 100%);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.92);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin:0 auto;
}

.overlay a {
  
  padding:8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-content a{
  padding: 3em;
  font-size:1.5rem;
  font-weight: 500;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/*Swup Animations */

.container{
    width:95%;
    max-width:1920px;
    height:100vh;
    margin: 0 auto;

}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;

  transform:translateX(100%);
}


/*End of Swup Animations*/



.logo span a{
    font-family: 'Sacramento', cursive;
    font-size:2.5rem;
    text-decoration: none;
}




nav{

    display: flex;
    padding: 1.5em;
    align-items: center;
    width:100%;
    justify-content: space-around;
}




.three-dots {
    position: fixed;
    left:5%;
    margin-top:50vmin;
    z-index: 12;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
    width:30px;

}

.dot1,.dot2,.dot3 {
    width:10px;
    height:10px;
    background-color: ghostwhite;
    border-radius: 50%;
}

.landing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7em 0;
}
.landing-page-svg{

    
}

.landing-page-svg svg:nth-child(1){
    stroke-dasharray: 40px;
    animation: landingAnim 5s ease-in forwards,fadeIn 5s ease-in forwards;
}



.landing-text-content{

    
}

.fname{
    border-bottom:5px solid #F49F1C;
}

.landing-text-content #designation{
    font-size: 2rem;
    margin-bottom:70px;
    font-weight: 500;
}

.landing-text-content #intro,#name{
    font-size: 6rem;
    letter-spacing: 10px;
}


.social{
    min-height: 20%;
    display: flex;
    justify-content:space-between;
    padding: 0 2em;
}

.social div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social div span{
    font-size: 1.3rem;
    margin-left: 1em;
}

.social div i{
    font-size: 4.2rem;
}



#box1,#box2 {
    position: absolute;
    z-index:22;
    animation: rotationAnim 4s ease-in infinite;
}

@keyframes rotationAnim{
    100%{
       transform:rotate(360deg);
       transform-box: fill-box;
       transform-origin: 50% 50% ;
    }
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    float: right;
    list-style: none;
}

.nav-links li a{
     font-weight: 500;
     cursor: pointer;
     text-decoration: none;
}

.nav-links li a:hover,.logo span a:hover{
    color:#F49F1C !important;
}




.my-wall {
    /*min-height:100vh;*/
    width: 100%;
}

.heading{

    height: 150px;
    position: relative;
}

.heading h2 {
    font-weight:700;
    font-size: 3rem;
    padding-left:8%;
}

.my-wall-content {
    display: flex;
    justify-content: space-evenly;
}


.skills svg:nth-child(1){
    stroke-dasharray: 100px;
    animation: lineAnim 4s ease-in forwards;
    
}



.about-me {
    min-height:100vh;
    width: 100%;
}

.about-me-desc {
    width:40%;
    margin:0 auto;
}

.about-me-desc h1 {
    font-size:5rem;
    padding:0;
    margin:0.2em 0;
}

.about-me-desc p {    
    font-weight: 400;
    margin: 0;
    font-size:1.4rem;
    line-height: 2;
    word-wrap: break-word;
}

#linkedinLink {
    color:#F49F1C;
    text-decoration: none;
    font-weight: 400;
}

.contact-form {

    width:100%;
    margin: 40px 0;
    height:auto;
    border: 1.2px solid white;
    border-radius: 5px;
}


.contact-form>form{
    padding:30px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.input-label {
    font-weight:400;
}
.text-input{
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  color:#F49F1C;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
}

#message{
    height:100px;
}

.submit-btn {
  width: 100%;
  background-color: #F49F1C;
  color: white ;
  font-weight: 700;
  padding: 14px 20px;
  font-family: 'Work Sans', sans-serif;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Animations */


@keyframes fadeIn{
    0%{
        opacity: 0;
        fill:none;
    }
    90%{
        fill: none;
    }
    100%{
        opacity: 1;
        fill:#F49F1C;
    }
}

@keyframes landingAnim {
0%{
}
50%{

}
100%{
    stroke-dasharray: 1000px;
}

}


@keyframes lineAnim{
from{
    opacity: 1;
}
to{
    opacity: 1;
    stroke-dasharray: 700px;
}

}



@media (max-width:1260px){

    .logo span a {
        font-size:2.5rem;
    }
    .landing-page-svg{
        display: none;
    }

    .nav-links{
        width: 50%;
    }


    .my-wall-content{
        justify-content: space-evenly;
        align-items: center;
    }

    .current-skills svg{
        width:50%;
        display: block;
        margin:auto;
    }

    .experience-timeline{
        width:90%;
        display: block;
        margin:auto;
    }

    .about-me-desc{
        width:65%;
        margin:0 auto;
    }

 
}



/*Putting it here so that navbar is shown for all screens less than 900px*/

/* Responsive Navbar*/
@media (max-width:900px){

 .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
.heading{
    display: none;

}



.landing-page-svg {
    display: none;
}

.my-wall{
    margin-top:1em;
}


.hamburger {
    padding: 0.75em;
    /*left:30%;*/
    min-height:30px;
    display: flex;
    cursor: pointer;
    z-index:2;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger div {
    width:20px;
    height:3px;
    background-color: #F1F1F1;
}

.line2 {
    margin-left:50%;
}


.line3 {
    margin-left:100%;
}

/*.toggle .line1{
    transform: rotate(-45deg) translate(0px,3px);
    transition: transform 0.5s ease-in ;
}

.toggle .line2{
    opacity:0;
   }

.toggle .line3{
    transform: rotate(45deg) translate(-25px,0px) ; 
    transition: transform 0.5s ease-in ;
}
*/

/*.nav-links {
        position: absolute;
        right:0;
        width:100%;
        height:100%;
        position: fixed;
        background-color: rgb(27, 26, 60);
        display: flex;
        font-size: 1.6rem;
        flex-direction: column;
        justify-content: space-evenly;
        z-index:2;
        
        align-items: center;
        transform: translateX(100%);
        -webkit-transition:transform 0.5s ease-in;
        -moz-transition:transform 0.5s ease-in;
        -o-transition:transform 0.5s ease-in;
        transition:transform 0.5s ease-in;
        
}
*/
.nav-links{
  display: none;
}

.about-me{
    margin-top:7em;
}


}


@media (max-width:800px){
 .landing-text-content #intro, #name{
    font-size:4rem;
 }
 .landing-text-content #designation {
    font-size:1.5rem;
 }
 
 .social{
    flex-direction: column;
 }
 .social div {

    justify-content: flex-start;
    margin: 2em 0;
 }

 .social div i {
    font-size:3rem;
 }

 .about-me-desc h1 {
    font-size: 4rem;
 }

  .about-me-desc p {
    font-size: 1.2rem;
 }

}




/*Smartphones*/

@media (max-width:535px){





/*Landing page*/



.logo span a{
    font-size: 1.6rem;
}

.landing-text-content #designation{
    font-size: 1.5rem;
}

.landing-text-content #intro,#name{
    font-size: 2.5rem;
    letter-spacing: 10px;
}

 
 .social{
    flex-direction: column;
 }
 .social div {

    justify-content: flex-start;
    margin: 2em 0;
 }

 .social div i {
    font-size:2rem;
 }

/*About Me*/

.about-me{
  margin-top:1em;
}
.about-me-desc {
    width:90%;
}

.about-me-desc h1 {
    font-size:3rem;
}

.about-me-desc p {
    font-size:0.99rem;
}

/* My Wall*/

.heading{

    width:100%;
    height: 70px;
    position: relative;
}

.heading h2 {
    position:absolute;
    font-weight:700;
    font-size: 1.5rem;
    top:5%;
    left:10%;
}

.my-wall-content {    
    flex-direction: column;
}

.experience-timeline{
    margin-right:0;
    width:75%;
} 

.nav-links{
    font-size:1.2rem;
}

}


@media (max-width:400px){

}
